.about {
	margin-top: 23rem;
	@media (max-width: 768px) {
		margin-top: 16rem;
	}
}

.imageContainer {
	position: relative;
	padding-bottom: 100%;
	width: 100%;
}
.linksCVContainer {
	display: flex;
	width: 100%;
	justify-content: space-around;
	align-items: center;
	@media (max-width: 768px) {
		flex-direction: column;
	}
}
