.works {
	margin-top: 10rem;
	position: relative;
}

.background{
	position: absolute;
	top: -9rem;
	left: 0;
	height: 12rem;
	width: 100%;
	background-image: url("/img/background_works.webp");
	background-position: 0 100%;
	background-repeat: no-repeat;
	background-size: contain;
	z-index: -1;
	@media (max-width: 768px) {
		background-size: cover;
		width: 30%;
		top: -5rem;
		left:0;
		height: 8rem;
	}
}

