.progress {
	width: 8rem;
	height: 8rem;
	border-radius: 50%;
	background-color: var(--color-primary);
	position: relative;
	overflow: hidden;
	@media (max-width: 1440px) {
		width: 6rem;
		height: 6rem;
	}
	@media (max-width: 996px) {
		width: 5rem;
		height: 5rem;
	}
	@media (max-width: 768px) {
		width: 6rem;
		height: 6rem;
	}
}
.progress::before {
	content: "";
	display: block;
	position: absolute;
	top: 1.3rem;
	left: 1.3rem;
	right: 1.3rem;
	bottom: 1.3rem;
	border-radius: 50%;
	background-color: var(--color-background);
	z-index: 3;
	opacity: 1;
	@media (max-width: 1440px) {
		top: 1rem;
		left: 1rem;
		right: 1rem;
		bottom: 1rem;
	}
}
.piece {
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	overflow: hidden;
	position: absolute;
}
.piece::before {
	content: "";
	display: block;
	position: absolute;
	width: 50%;
	height: 100%;
}
.left {
	transform: rotate(0deg);
	z-index: 2;
	border-radius: 50%; /* only FireFox < 75.0v (fix bug)*/
}
.over_50 .left {
	transform: rotate(180deg);
}
.right {
	transform: rotate(180deg);
	z-index: 1;
	border-radius: 50%; /* only FireFox < 75.0v (fix bug)*/
}
.over_50 .right {
	transform: rotate(360deg);
}
.left::before {
	background-color: var(--color-label);
}
.over_50 .left::before {
	background-color: var(--color-primary);
}
.right::before {
	background-color: var(--color-label);
}
.textContainer {
	position: absolute;
	z-index: 3;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.textContainer b {
	color: var(--color-label);
	font-size: 1.3rem;
	font-weight: 600;
	display: block;
	@media (max-width: 1440px) {
		font-size:1rem;
	}
}
.caption {
	margin-top: 1rem;
	color: var(--color-primary);
	font-size: 1.3rem;
	font-weight: 600;
	text-align: center;
	@media (max-width: 1440px) {
		margin-top: 0.5rem;
	}
}
