.container {
	max-width: var(--max-width);
	width: 100%;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.heroBackground {
	position: absolute;
	top: 0;
	left: 0;
	width: 110%;
	height: 1600px;
	background-image: url("/img/background_hero.webp");
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: contain;
	z-index: -1;
	@media (max-width: 768px) {
		background-size: cover;
		height: 1200px;
	}
}
